<section class="block block--accent">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3 class="block__title block__title--light mt-0">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h3>
				<button data-toggle="popover" title="Title" data-content="Phrase" data-placement="bottom" role="button" class="btn btn-light mb-4">GET IN TOUCH</button>
			</div>
			<div class="col-md-6">
				<form action="" method="POST" class="form needs-validation" novalidate>
					<h4 class="block__title">STAY INFORMED WITH OUR NEWSLETTER</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iusto eligendi ipsa ipsum veritatis vero quod soluta rem doloribus dolorem, ratione eum quisquam itaque sequi debitis. Tempore dolore, atque minus.</p>
					<div class="input-group mb-3">
					  <input type="email" class="form-control" placeholder="Your e-mail" aria-label="Your e-mail" aria-describedby="button-addon2" required>
					  <div class="input-group-append">
					    <button class="btn btn-primary" type="submit" id="button-addon2">Send</button>
					  </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8 d-none d-md-block">
				<ul class="list-inline footer__nav">
					<li class="list-inline-item">
						<a href="index.html">home</a>
					</li>
					<li class="list-inline-item">
						<a href="about.html">about us</a>
					</li>
					<li class="list-inline-item">
						<a href="#">services</a>
					</li>
					<li class="list-inline-item">
						<a href="#">portfolio</a>
					</li>
					<li class="list-inline-item">
						<a href="#">blog</a>
					</li>
					<li class="list-inline-item">
						<a href="contact.html">contact us</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 text-right">
				<div class="mb-3">Created by akhouad 2016. All Rights Reserved</div>
				<ul class="list-inline text-large">
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-logo-facebook"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-logo-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-logo-youtube"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-logo-linkedin"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-logo-pinterest"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-logo-instagram"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>